/* Color Theme Swatches in Hex
.goldenTree-1-hex { color: #F2EB80; }
.goldenTree-2-hex { color: #F2CB07; }
.goldenTree-3-hex { color: #F2B807; }
.goldenTree-4-hex { color: #594020; }
.goldenTree-5-hex { color: #D99C52; }
*/
/*CSS rules to specify families
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MOBILE FIRST - PANTALLA CELULAR*/

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*BARRA NAV*/

.barraNav {
    background-color: #F2B807;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
}

.logo {
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

.navToggle {
    background: none;
    border: none;
    display: block;
    margin-right: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.menuItems {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2B807;
    position: fixed;
    left: 100%;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    transition: left 0.5s;
}

.menuItems_transition {
    left: 0;
}

.menuItems li {
    height: 50px;
    padding: 8px 12px;
    margin: 10px 5px;
    display: flex;
    align-items: center;
}

.menuItems li:hover {
    background-color: none;
    color: black;
}

.menuItems li a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*FOOTER*/

footer {
    background-color: #F2B807;
    margin-top: 5%;
    grid-area: footerGrid;
}

.footerGrid {
    display: grid;
    grid-template-areas:
        "footerTexto"
        "footerMapa"
        "footerCopyright"
}

/*PAGINA INDEX*/

.mainGrid {
    display: grid;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "tituloImg"
        "cont1"
        "cont3"
        "cont2"
        "visionTitulo"
        "visionTexto"
        "misionTitulo"
        "misionTexto"
        "footerGrid";
}

.titulo {
    grid-area: titulo;
    background: rgb(89, 64, 32);
    background: linear-gradient(153deg, rgba(89, 64, 32, 1) 57%, rgba(217, 156, 82, 1) 100%);
    color: white;
    font-weight: bold;
    font-size: 200%;
    margin-top: 80px;
}

.subtitulo {
    grid-area: subtitulo;
    background-color: #F2EB80;
    font-weight: bold;
}

.tituloImg {
    grid-area: tituloImg;
    margin-bottom: 2%;
}

.tituloImg img {
    width: 100vW;
}

.cont1 {
    grid-area: cont1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background: rgb(242, 235, 128);
    background: radial-gradient(circle, rgba(242, 235, 128, 1) 22%, rgba(242, 203, 7, 1) 62%, rgba(242, 184, 7, 1) 100%);
    font-weight: bold;
    width: 80%;
    height: 100px;
    margin: 2% auto 2% auto;
}

.cont2 {
    grid-area: cont2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background: rgb(242, 235, 128);
    background: radial-gradient(circle, rgba(242, 235, 128, 1) 22%, rgba(242, 203, 7, 1) 62%, rgba(242, 184, 7, 1) 100%);
    font-weight: bold;
    width: 80%;
    height: 100px;
    margin: 2% auto 2% auto;
}

.cont3 {
    grid-area: cont3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background: rgb(242, 235, 128);
    background: radial-gradient(circle, rgba(242, 235, 128, 1) 22%, rgba(242, 203, 7, 1) 62%, rgba(242, 184, 7, 1) 100%);
    font-weight: bold;
    width: 80%;
    height: 100px;
    margin: 2% auto 2% auto;
}

.visionTitulo {
    grid-area: visionTitulo;
    font-weight: bolder;
    text-align: left;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    margin: 2% auto 2% auto;
}

.visionTexto {
    grid-area: visionTexto;
    text-align: justify;
    width: 80%;
    margin: 2% auto 2% auto;
}

.misionTitulo {
    grid-area: misionTitulo;
    font-weight: bolder;
    text-align: left;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    margin: 2% auto 2% auto;
}

.misionTexto {
    grid-area: misionTexto;
    text-align: justify;
    width: 80%;
    margin: 2% auto 2% auto;
}

.footerTexto {
    grid-area: footerTexto;
    padding: 2%;
    font-weight: bolder;
}

.footerTexto img {
    height: 60px;
}

.footerMapa {
    grid-area: footerMapa;
    padding: 2%;
}

.footerCopyright {
    grid-area: footerCopyright;
    background-color: #594020;
    color: white;
    padding: 2%;
}

/*PAGINA NOSOTROS*/

.mainGridNosotros {
    display: grid;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "tituloImg"
        "nosotrosTextoUno"
        "nosotrosImgUno"
        "nosotrosTextoDos"
        "nosotrosImgDos"
        "footerGrid";
}

.nosotrosTextoUno {
    grid-area: nosotrosTextoUno;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
}

.nosotrosTextoDos {
    grid-area: nosotrosTextoDos;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
}

.nosotrosImgUno {
    grid-area: nosotrosImgUno;
}

.nosotrosImgDos {
    grid-area: nosotrosImgDos;
}

/*PAGINA PRODUCTOS*/

.mainGridProductos {
    display: grid;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "tituloImg"
        "productoTitulo1"
        "productoImg1"
        "productoTexto1"
        "productoTitulo2"
        "productoImg2"
        "productoTexto2"
        "productoTitulo3"
        "productoImg3"
        "productoTexto3"
        "productoTitulo4"
        "productoImg4"
        "productoTexto4"
        "footerGrid";
}

.productoTitulo1 {
    grid-area: productoTitulo1;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.productoImg1 {
    grid-area: productoImg1;
    margin: 5% 0 5% 0;
}

.productoTexto1 {
    grid-area: productoTexto1;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.productoTitulo2 {
    grid-area: productoTitulo2;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.productoImg2 {
    grid-area: productoImg2;
    margin: 5% 0 5% 0;
}

.productoTexto2 {
    grid-area: productoTexto2;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.productoTitulo3 {
    grid-area: productoTitulo3;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.productoImg3 {
    grid-area: productoImg3;
    margin: 5% 0 5% 0;
}

.productoTexto3 {
    grid-area: productoTexto3;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.productoTitulo4 {
    grid-area: productoTitulo4;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.productoImg4 {
    grid-area: productoImg4;
    margin: 5% 0 5% 0;
}

.productoTexto4 {
    grid-area: productoTexto4;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

/*PAGINA PROCESO*/

.mainGridProceso {
    display: grid;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "tituloImg"
        "etapaTitulo1"
        "etapaImg1"
        "etapaTexto1"
        "arrow1"
        "etapaTitulo2"
        "etapaImg2"
        "etapaTexto2"
        "arrow2"
        "etapaTitulo3"
        "etapaImg3"
        "etapaTexto3"
        "arrow3"
        "etapaTitulo4"
        "etapaImg4"
        "etapaTexto4"
        "footerGrid";
}

.etapaTitulo1 {
    grid-area: etapaTitulo1;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.etapaImg1 {
    grid-area: etapaImg1;
    margin: 5% 0 5% 0;
}

.etapaTexto1 {
    grid-area: etapaTexto1;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.etapaTitulo2 {
    grid-area: etapaTitulo2;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.etapaImg2 {
    grid-area: etapaImg2;
    margin: 5% 0 5% 0;
}

.etapaTexto2 {
    grid-area: etapaTexto2;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.etapaTitulo3 {
    grid-area: etapaTitulo3;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.etapaImg3 {
    grid-area: etapaImg3;
    margin: 5% 0 5% 0;
}

.etapaTexto3 {
    grid-area: etapaTexto3;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.etapaTitulo4 {
    grid-area: etapaTitulo4;
    font-weight: bolder;
    border-bottom: 2px solid #F2EB80;
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.etapaImg4 {
    grid-area: etapaImg4;
    margin: 5% 0 5% 0;
}

.etapaTexto4 {
    grid-area: etapaTexto4;
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.arrow1 {
    grid-area: arrow1;
}

.arrow2 {
    grid-area: arrow2;
}

.arrow3 {
    grid-area: arrow3;
}

/*PAGINA CONTACTO*/

.mainGridContacto {
    display: grid;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "tituloImg"
        "formGrid"
        "footerGrid";
}

.formGrid {
    display: grid;
    grid-template-areas:
        "datos"
        "form1"
        "form2"
        "form3"
        "form4"
        "form5"
        "form6"
        "form7"
        "form8"
        "form9"
        "formFinal"
        "botones";
}

.datos {
    grid-area: datos;
    background-color: #F2B807;
    font-weight: bold;
    font-size: 100%;
    padding-bottom: 2px;
    width: 80%;
    margin: 5% auto 0 auto;
    border: #594020 2px solid;
}

.form1 {
    grid-area: form1;
}

.form2 {
    grid-area: form2;
}

.form3 {
    grid-area: form3;
}

.form4 {
    grid-area: form4;
}

.form5 {
    grid-area: form5;
}

.form6 {
    grid-area: form6;
    border-bottom: #594020 2px solid;
}

.form6 textarea {
    width: 100%;
}

.form8 {
    grid-area: form8;
}

.form9 {
    grid-area: form9;
}

.formFinal {
    grid-area: formFinal;
    border-bottom: #594020 2px solid;
    margin-bottom: 2%;
}

.form1,
.form2,
.form3,
.form4,
.form5,
.form6,
.form8,
.form9,
.formFinal {
    background-color: #F2EB80;
    font-weight: bold;
    font-size: 90%;
    padding-bottom: 2px;
    border-left: #594020 2px solid;
    border-right: #594020 2px solid;
    width: 80%;
    margin: 0 auto 0 auto;
}

.form7 {
    grid-area: form7;
    background-color: #F2B807;
    font-weight: bold;
    font-size: 100%;
    padding-bottom: 2px;
    width: 80%;
    margin: 2% auto 0 auto;
    border: #594020 2px solid;
}

.botones {
    grid-area: botones;
    margin-top: 2%;
}

/*//////////////////////////////////////////////////////////////////////////*/
/*---------------------------SALTO A 768------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////*/

@media (min-width:768px) {

    .barraNav {
        background-color: #F2B807;
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
    }
    
    .logo {
        height: 50px;
        margin-top: 10px;
        margin-left: 20px;
    }
    
    .navToggle {
        background: none;
        border: none;
    }
    
    .menu {
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;
    }
    
    .menuItems {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        left: 0;
        top: 0;
    }

    .menuItems li {
        height: 50px;
        padding: 8px 12px;
        margin: 10px 5px;
        display: flex;
        align-items: center;
    }
    
    .menuItems li:hover {
        background-color: rgb(0, 0, 0, 0.3);
        transition: 0.5s;
        border-radius: 5px;
    }
    
    .menuItems li a {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    .navToggle {
        display: none;
    }

    .mainGrid {
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "subtitulo subtitulo"
            "tituloImg tituloImg"
            "contGrid contGrid"
            "visionMisionGrid visionMisionGrid"
            "footerGrid footerGrid";
    }

    .footerGrid {
        display: grid;
        grid-template-areas:
            "footerTexto footerMapa"
            "footerCopyright footerCopyright";
        grid-template-columns: 1fr 1fr;
    }

    .contGrid {
        grid-area: contGrid;
        display: grid;
        grid-template-areas:
            "cont1"
            "cont2"
            "cont3";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .visionMisionGrid {
        grid-area: visionMisionGrid;
        display: grid;
        grid-template-areas:
            "visionTitulo visionTexto"
            "misionTitulo misionTexto";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .visionTitulo {
        grid-area: visionTitulo;
        font-weight: bolder;
        text-align: center;
        display: flex;
        align-items: center;
        border-right: 5px solid #F2EB80;
        border-bottom: none;
        width: 80%;
        margin: 2% 0 2% auto;
    }

    .visionTexto {
        grid-area: visionTexto;
        text-align: justify;
        width: 80%;
        margin: 2% auto 2% auto;
    }

    .misionTitulo {
        grid-area: misionTitulo;
        font-weight: bolder;
        text-align: center;
        display: flex;
        align-items: center;
        border-right: 5px solid #F2EB80;
        border-bottom: none;
        width: 80%;
        margin: 2% 0 2% auto;
    }

    .misionTexto {
        grid-area: misionTexto;
        text-align: justify;
        width: 80%;
        margin: 2% auto 2% auto;
    }

    /*---------------------------NOSOTROS 768-----------------------------------*/

    .mainGridNosotros {
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "subtitulo subtitulo"
            "tituloImg tituloImg"
            "nosotrosGrid nosotrosGrid"
            "footerGrid footerGrid";
    }

    .nosotrosGrid {
        grid-area: nosotrosGrid;
        display: grid;
        grid-template-areas:
            "nosotrosTextoUno nosotrosImgUno"
            "nosotrosImgDos nosotrosTextoDos";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .nosotrosImgUno,
    .nosotrosImgDos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*---------------------------PRODUCTOS 768-----------------------------------*/

    .mainGridProductos {
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "subtitulo subtitulo"
            "tituloImg tituloImg"
            "productosGrid productosGrid"
            "footerGrid footerGrid";
    }

    .productosGrid {
        grid-area: productosGrid;
        display: grid;
        grid-template-areas:
            "productoTitulo1 productoTitulo1"
            "productoImg1 productoTexto1"
            "productoTitulo2 productoTitulo2"
            "productoTexto2 productoImg2"
            "productoTitulo3 productoTitulo3"
            "productoImg3 productoTexto3"
            "productoTitulo4 productoTitulo4"
            "productoTexto4 productoImg4";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .productoTitulo1,
    .productoTitulo2,
    .productoTitulo3,
    .productoTitulo4 {
        width: 90%;
        margin-bottom: 20px;
    }

    /*---------------------------PROCESO 768-----------------------------------*/

    .mainGridProceso {
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "subtitulo subtitulo"
            "tituloImg tituloImg"
            "procesoGrid procesoGrid"
            "footerGrid footerGrid";
    }

    .procesoGrid {
        grid-area: procesoGrid;
        display: grid;
        grid-template-areas:
            "etapaTitulo1 etapaTitulo1"
            "etapaImg1 etapaTexto1"
            "arrow1 arrow1"
            "etapaTitulo2 etapaTitulo2"
            "etapaTexto2 etapaImg2"
            "arrow2 arrow2"
            "etapaTitulo3 etapaTitulo3"
            "etapaImg3 etapaTexto3"
            "arrow3 arrow3"
            "etapaTitulo4 etapaTitulo4"
            "etapaTexto4 etapaImg4";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .etapaTitulo1,
    .etapaTitulo2,
    .etapaTitulo3,
    .etapaTitulo4 {
        width: 90%;
        margin-bottom: 10px;
    }

    /*---------------------------CONTACTO 768-----------------------------------*/

    .mainGridContacto {
        display: grid;
        grid-template-areas:
            "titulo titulo"
            "subtitulo subtitulo"
            "tituloImg tituloImg"
            "formGrid formGrid"
            "footerGrid footerGrid";
    }

    .formGrid {
        grid-area: formGrid;
        display: grid;
        grid-template-areas:
            "datos datos"
            "form1 form1"
            "form2 form2"
            "form3 form3"
            "form4 form4"
            "form5 form5"
            "form6 form6"
            "form7 form7"
            "form8 form8"
            "form9 form9"
            "formFinal formFinal"
            "botones botones";
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/*//////////////////////////////////////////////////////////////////////////*/
/*---------------------------SALTO A 1024-----------------------------------*/
/*//////////////////////////////////////////////////////////////////////////*/

@media (min-width:1024px) {

    .mainGrid {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "subtitulo subtitulo subtitulo"
            "tituloImg tituloImg tituloImg"
            "contGrid contGrid contGrid"
            "visionMisionGrid visionMisionGrid visionMisionGrid"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .footerGrid {
        display: grid;
        grid-template-areas:
            "footerTexto footerMapa"
            "footerCopyright footerCopyright";
        grid-template-columns: 1fr 1fr;
    }

    .contGrid {
        grid-area: contGrid;
        display: grid;
        grid-template-areas:
            "cont1 cont2 cont3";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .visionMisionGrid {
        display: grid;
        grid-template-areas:
            "visionTitulo misionTitulo"
            "visionTexto misionTexto";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .visionTitulo {
        grid-area: visionTitulo;
        font-weight: bolder;
        text-align: center;
        display: flex;
        align-items: center;
        border-bottom: 5px solid #F2EB80;
        border-right: none;
        width: 80%;
        margin: 2% auto 2% auto;
    }

    .visionTexto {
        grid-area: visionTexto;
        text-align: justify;
        width: 80%;
        margin: 2% auto 2% auto;
    }

    .misionTitulo {
        grid-area: misionTitulo;
        font-weight: bolder;
        text-align: center;
        display: flex;
        align-items: center;
        border-bottom: 5px solid #F2EB80;
        border-right: none;
        width: 80%;
        margin: 2% auto 2% auto;
    }

    .misionTexto {
        grid-area: misionTexto;
        text-align: justify;
        width: 80%;
        margin: 2% auto 2% auto;
    }

    .mainGridNosotros {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "subtitulo subtitulo subtitulo"
            "tituloImg tituloImg tituloImg"
            "nosotrosGrid nosotrosGrid nosotrosGrid"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .nosotrosGrid {
        display: grid;
        grid-template-areas:
            "nosotrosTextoUno nosotrosImgUno"
            "nosotrosImgDos nosotrosTextoDos";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .nosotrosImgUno,
    .nosotrosImgDos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainGridProductos {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "subtitulo subtitulo subtitulo"
            "tituloImg tituloImg tituloImg"
            "productoGrid productoGrid productoGrid"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .productosGrid {
        grid-area: productosGrid;
        display: grid;
        grid-template-areas:
            "productoTitulo1 productoTitulo1"
            "productoImg1 productoTexto1"
            "productoTitulo2 productoTitulo2"
            "productoTexto2 productoImg2"
            "productoTitulo3 productoTitulo3"
            "productoImg3 productoTexto3"
            "productoTitulo4 productoTitulo4"
            "productoTexto4 productoImg4";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .productoTitulo1,
    .productoTitulo2,
    .productoTitulo3,
    .productoTitulo4 {
        width: 90%;
        margin-bottom: 20px;
    }

    .mainGridProceso {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "subtitulo subtitulo subtitulo"
            "tituloImg tituloImg tituloImg"
            "procesoGrid procesoGrid procesoGrid"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .procesoGrid {
        grid-area: procesoGrid;
        display: grid;
        grid-template-areas:
            "etapaTitulo1 etapaTitulo1"
            "etapaImg1 etapaTexto1"
            "arrow1 arrow1"
            "etapaTitulo2 etapaTitulo2"
            "etapaTexto2 etapaImg2"
            "arrow2 arrow2"
            "etapaTitulo3 etapaTitulo3"
            "etapaImg3 etapaTexto3"
            "arrow3 arrow3"
            "etapaTitulo4 etapaTitulo4"
            "etapaTexto4 etapaImg4";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .etapaTitulo1,
    .etapaTitulo2,
    .etapaTitulo3,
    .etapaTitulo4 {
        width: 90%;
        margin-bottom: 10px;
    }

    .mainGridContacto {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "subtitulo subtitulo subtitulo"
            "tituloImg tituloImg tituloImg"
            "formGrid formGrid formGrid"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .formGrid {
        grid-area: formGrid;
        display: grid;
        grid-template-areas:
            "datos datos"
            "form1 form1"
            "form2 form2"
            "form3 form3"
            "form4 form4"
            "form5 form5"
            "form6 form6"
            "form7 form7"
            "form8 form8"
            "form9 form9"
            "formFinal formFinal"
            "botones botones";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }
}