.nosotrosTextoUno,
.nosotrosTextoDos {
    @extend .visionTexto;
    border-radius: 20px 0 0 0;
    margin: 5% auto 0 auto;

    p {
        width: 80%;
        margin: 2% auto 2% auto;
    }
}

.nosotrosImgUno,
.nosotrosImgDos {
    margin: 0 auto 2% auto;
    
    img {
        @include sizes (80%, auto);
        border-radius: 0 0 20px 0;
    }
}

.mainGridNosotros {
    display: grid;
    grid-template-areas:
        "titulo"
        "bajoTitulo"
        "nosotrosTextoUno"
        "nosotrosImgUno"
        "nosotrosTextoDos"
        "nosotrosImgDos"
        "footerGrid";
}

.nosotrosTextoUno {
    grid-area: nosotrosTextoUno;
}

.nosotrosTextoDos {
    grid-area: nosotrosTextoDos;
}

.nosotrosImgUno {
    grid-area: nosotrosImgUno;
}

.nosotrosImgDos {
    grid-area: nosotrosImgDos;
}

@media (min-width: 768px) {

    .mainGridNosotros {
        display: grid;
        grid-template-areas:
            "secondaryGridNos secondaryGridNos"
            "footerGrid footerGrid";
    }

    .secondaryGridNos {
        grid-area: secondaryGridNos;
        grid-template-areas:
            "titulo titulo"
            "bajoTitulo bajoTitulo"
            "nosotrosGrid nosotrosGrid";
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .nosotrosGrid {
        grid-area: nosotrosGrid;
        display: grid;
        grid-template-areas:
            "nosotrosTextoUno nosotrosImgUno"
            "nosotrosImgDos nosotrosTextoDos";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .nosotrosTextoUno,
    .nosotrosTextoDos {
        @include sizes(100%, auto);
        margin: 0 0 0 0;
    }

    .nosotrosTextoDos{
        border-radius: 0 0 20px 0;
    }

    .nosotrosImgUno,
    .nosotrosImgDos {
        margin: 0 0 0 0;
        overflow: hidden;
        img {
            @include sizes (auto, 100%);
            border-radius: 0 0 0 0;
        }
    }

}

@media (min-width:1024px) {

    .mainGridNosotros {
        display: grid;
        grid-template-areas:
            "secondaryGridNos secondaryGridNos secondaryGridNos"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .secondaryGridNos {
        grid-template-areas:
            "titulo titulo titulo"
            "bajoTitulo bajoTitulo bajoTitulo"
            "nosotrosGrid nosotrosGrid nosotrosGrid";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-template-columns: 1fr;
    }

    .nosotrosGrid {
        display: grid;
        grid-template-areas:
            "nosotrosTextoUno nosotrosImgUno"
            "nosotrosImgDos nosotrosTextoDos";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .nosotrosImgDos img{
        width: 100%;
        border-radius: 0 0 0 0;
    }
}