.producto {
    overflow: hidden;
    z-index: 1;
    margin: 2% auto 2% auto;
    @include sizes(90%, auto);
    @include boxes(none, 15px 0 15px 0, var(--shadow), white);
    grid-template-rows: 1fr 5fr 5fr;
}

.pUno {
    grid-area: producto1;
    display: grid;
    grid-template-areas:
        "productoTitulo1"
        "productoImg1"
        "productoTexto1";
}

.pDos {
    grid-area: producto2;
    display: grid;
    grid-template-areas:
        "productoTitulo2"
        "productoImg2"
        "productoTexto2"
    ;
}

.pTres {
    grid-area: producto3;
    display: grid;
    grid-template-areas:
        "productoTitulo3"
        "productoImg3"
        "productoTexto3"
    ;
}

.pCuatro {
    grid-area: producto4;
    display: grid;
    grid-template-areas:
        "productoTitulo4"
        "productoImg4"
        "productoTexto4"
    ;
}


.productoTitulo1 {
    grid-area: productoTitulo1;
}

.productoTitulo2 {
    grid-area: productoTitulo2;
}

.productoTitulo3 {
    grid-area: productoTitulo3;
}

.productoTitulo4 {
    grid-area: productoTitulo4;
}

.productoTitulo1,
.productoTitulo2,
.productoTitulo3,
.productoTitulo4 {
    display: flex;
    align-items: center;
    margin: 1% auto 1% auto;
    line-height: 1;
    @include sizes(98%, 1.5rem);
    @include boxes(none, 25px 0 0 25px, var(--shadow), $secondary-color);

    img {
        border-radius: 100%;
        height: 1.2rem;
        padding-left: 1%;
    }

    h2 {
        color: white;
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem 0 .5rem 0;
    }
}

.productoImg1 {
    grid-area: productoImg1;
}

.productoImg2 {
    grid-area: productoImg2;
}

.productoImg3 {
    grid-area: productoImg3;
}

.productoImg4 {
    grid-area: productoImg4;
}

.productoImg1,
.productoImg2,
.productoImg3,
.productoImg4 {
    display: flex;
    justify-content: center;

    img {
        margin: 0 auto 0 auto;
        height: 150px;
    }
}

.productoTexto1 {
    grid-area: productoTexto1;
}

.productoTexto2 {
    grid-area: productoTexto2;
}

.productoTexto3 {
    grid-area: productoTexto3;
}

.productoTexto4 {
    grid-area: productoTexto4;
}

.productoTexto1,
.productoTexto2,
.productoTexto3,
.productoTexto4 {
    display: flex;
    justify-content: center;
    text-align: justify;
    color: $secondary-color;
    @include sizes(100%, auto);

    p {
        width: 80%;
    }
}

.mainGridProductos {
    display: grid;
    grid-template-areas:
        "titulo"
        "bajoTitulo"
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "footerGrid";
}

@media (min-width: 768px) {

    .mainGridProductos {
        display: grid;
        grid-template-areas:
            "secondaryGridProd secondaryGridProd"
            "footerGrid footerGrid";
    }

    .secondaryGridProd {
        grid-area: secondaryGridProd;
        grid-template-areas:
            "titulo titulo"
            "bajoTitulo bajoTitulo"
            "productosGrid productosGrid";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-template-columns: 1fr 1fr;
    }

    .productosGrid {
        grid-area: productosGrid;
        display: grid;
        grid-template-areas:
            "producto1 producto2"
            "producto3 producto4";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-template-columns: 1fr 1fr;
    }

    .productoTexto1,
    .productoTexto2,
    .productoTexto3,
    .productoTexto4 {
        width: 100%;

        p {
            width: 90%;
        }
    }
}

@media (min-width:1024px) {

    .mainGridProductos {
        display: grid;
        grid-template-areas:
            "secondaryGridProd secondaryGridProd secondaryGridProd"
            "footerGrid footerGrid footerGrid";
        grid-template-columns: 1fr 2fr 2fr;
    }

    .secondaryGridProd {
        grid-template-areas:
            "titulo titulo titulo"
            "bajoTitulo bajoTitulo bajoTitulo"
            "productoGrid productoGrid productoGrid";
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .productosGrid {
        display: grid;
        grid-template-areas:
            "producto1 producto2"
            "producto3 producto4";
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .producto {
        grid-template-rows: 1fr 5fr;
    }

    .pUno {
        grid-area: producto1;
        display: grid;
        grid-template-areas:
            "productoTitulo1 productoTitulo1"
            "productoImg1 productoTexto1"
        ;
    }

    .pDos {
        grid-area: producto2;
        display: grid;
        grid-template-areas:
            "productoTitulo2 productoTitulo2"
            "productoImg2 productoTexto2"
        ;
    }

    .pTres {
        grid-area: producto3;
        display: grid;
        grid-template-areas:
            "productoTitulo3 productoTitulo3"
            "productoImg3 productoTexto3"
        ;
    }

    .pCuatro {
        grid-area: producto4;
        display: grid;
        grid-template-areas:
            "productoTitulo4 productoTitulo4"
            "productoImg4 productoTexto4"
        ;
    }

    .productoTitulo1,
    .productoTitulo2,
    .productoTitulo3,
    .productoTitulo4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}